# Django Settings
DEBUG=True
SECRET_KEY=""

# Email Configuration
EMAIL_HOST_USER=''
EMAIL_HOST_PASSWORD=''

# Stripe Keys
STRIPE_PUBLIC_KEY=''
STRIPE_SECRET_KEY=''
STRIPE_WEBHOOK_SECRET=''

# Redis Configuration (for Celery and Caching)
REDIS_URL='redis://localhost:6379/0'
CELERY_BROKER_URL='redis://localhost:6379/0'
CELERY_RESULT_BACKEND='redis://localhost:6379/0'