# Python
__pycache__/
*.py[cod]
*$py.class

# Django
*.log
*.pot
*.pyc
*.sqlite3
db.sqlite3
media/
static/
.env
.env.*

# Celery
celerybeat-schedule
celerybeat.pid

# Virtual environment
venv/

env/
ENV/
.venv/

# IDEs / Editors
.vscode/
.idea/
*.iml

# Byte-compiled / optimized / DLL files
*.so
*.dll
*.dylib

# Distribution / packaging
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg
pip-wheel-metadata/

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
coverage.xml
*.cover
*.py,cover
.cache
.pytest_cache/

# MyPy
.mypy_cache/
.dmypy.json
dmypy.json

# VSCode Python
.python-version

# Mac OS
.DS_Store
.AppleDouble
.LSOverride

# Windows
Thumbs.db
ehthumbs.db
.idea/

# Local settings
local_settings.py
